###############################################################################
# Set default behavior to:
#   automatically normalize line endings on check-in, and
#   convert to Windows-style line endings on check-out
###############################################################################
* text=auto encoding=UTF-8
*.sh text eol=lf


###############################################################################
# Set file behavior to:
#   treat as text
###############################################################################
*.cmd       		text
*.json      		text
*.md        		text

###############################################################################
# Set file behavior to:
#   treat as binary
###############################################################################
*.png				binary
